In [1]:
import numpy as np
import pandas as pd

In [2]:
CORPUS = 'data/collection.tsv'
QUERIES = 'data/query.train.tsv'

In [3]:
df_corpus = pd.read_csv(CORPUS, sep='\t', header=None)
df_queries = pd.read_csv(QUERIES, sep='\t', header=None)
print(df_corpus.shape, df_queries.shape)

(8841823, 2) (808731, 2)

In [9]:
df_corpus = df_corpus.set_index(0)

In [10]:
df_corpus.head(10)

                                                   1
0
0   वैज्ञानिक दिमागों के बीच संचार की उपस्थिति मै...
1   मैनहट्टन परियोजना और उसके परमाणु बम ने द्विती...
2   मैनहट्टन परियोजना पर निबंध - मैनहट्टन परियोजन...
3   मैनहट्टन परियोजना द्वितीय विश्व युद्ध के दौरा...
4   प्रत्येक खंड के संस्करण तथा पूरक वेबसाइट.पहली...
5   मैनहट्टन परियोजना.इस एक बार गोपनीय तस्वीर में...
6   न ही यह परमाणु बमों और द्वितीय विश्व युद्ध के...
7   मैनहट्टन परियोजना.मैनहट्टन परियोजना द्वितीय व...
8   जून 1942 में, संयुक्त राज्य सेना के इंजीनियरो...
9   मैनहट्टन परियोजना के बी रिएक्टर के लिए हानफोर...

In [11]:
df_queries.head(10)

        0                                                  1
0  121352                              चरम को परिभाषित करें
1  634306            क्रेडिट इतिहास पर चैटल का क्या अर्थ है
2  920825                      क्या महान छलांग थी दिमाग़ में
3  510633                       टैटू फिक्स्चर कितना यह लागत
4  737889                   विकेन्द्रीकरण प्रक्रिया क्या है.
5  278900   ला जॉला कॉनकोर डी एलिगेंस में कितनी कारें शाम...
6  674172                       बैंक ट्रान्जिट नंबर क्या है
7  303205   मैं कितना योगदान कर सकता हूँ गैर-घटाय योग्य इरा
8  570009                तत्वों के चार प्रमुख समूह क्या हैं
9  492875                                  सैनिटाइजर तापमान

In [19]:
idx = 35
query_idx = df_queries.loc[idx, 0]
query = df_queries.loc[idx, 1]
print(query_idx)
print("Query:")
print(query.strip() + "\n")
corr_text = df_corpus.loc[query_idx, 1]
print("Text:")
print(corr_text.strip())

1067371
Query:
मेरी कार बारिश में क्यों थूकती है

Text:
विदेशी संपत्तियों का मूल्य कैसे निर्धारित करें.विदेशी वित्तीय परिसंपत्तियों का मूल्यांकन उस मुद्रा में उनके निष्पक्ष बाजार मूल्य का उपयोग करके किया जाता है जिसमें परिसंपत्ति का नामकरण किया गया है.करदाताओं को वर्ष के दौरान किसी भी समय उस परिसंपत्ति के लिए उच्चतम उचित बाजार मूल्य और वर्ष के अंतिम दिन उचित बाजार मूल्य दोनों को जानना होगा।.